<tr>
  <td><%= link_to donor.name, edit_donor_path(donor) %></td>
  <td><%= donor.email %></td>
  <td><%= donor.mailing_address %></td>
  <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<tr>
  <td colspan=2>Gifts: <%= donor.gifts.count %></td>
  <td colspan=2>Cash: <%= donor.gifts.cash_donations.count %></td>
<tr>
