<p id="notice"><%= notice %></p>

<h1>Donors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mailing address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render @donors %>
  </tbody>
</table>

<br>

<%= link_to 'New Donor', new_donor_path %>
