<%= form_with(model: cash_donation, local: true) do |form| %>
  <% if cash_donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash_donation.errors.count, "error") %> prohibited this cash_donation from being saved:</h2>

      <ul>
      <% cash_donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount_in_cents %>
    <%= form.number_field :amount_in_cents %>
  </div>

  <div class="field">
    <%= form.label :donor_id %>
    <%= form.text_field :donor_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :given_at %>
    <%= form.datetime_select :given_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
