<p id="notice"><%= notice %></p>

<h1>Cash Donations</h1>

<table>
  <thead>
    <tr>
      <th>Amount in cents</th>
      <th>Donor</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Given at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cash_donations.each do |cash_donation| %>
      <tr>
        <td><%= cash_donation.amount_in_cents %></td>
        <td><%= cash_donation.donor_id %></td>
        <td><%= cash_donation.description %></td>
        <td><%= cash_donation.notes %></td>
        <td><%= cash_donation.given_at %></td>
        <td><%= link_to 'Show', cash_donation %></td>
        <td><%= link_to 'Edit', edit_cash_donation_path(cash_donation) %></td>
        <td><%= link_to 'Destroy', cash_donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cash Donation', new_cash_donation_path %>
