<p id="notice"><%= notice %></p>

<p>
  <strong>Amount in cents:</strong>
  <%= @cash_donation.amount_in_cents %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @cash_donation.donor_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cash_donation.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @cash_donation.notes %>
</p>

<p>
  <strong>Given at:</strong>
  <%= @cash_donation.given_at %>
</p>

<%= link_to 'Edit', edit_cash_donation_path(@cash_donation) %> |
<%= link_to 'Back', cash_donations_path %>
